/**********************************

Use: cmxform template

***********************************/

.addButton {
    display:inline-block;
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    color: #878787;
    background: #cccccc;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}

.properties_edit {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

form.cmxform {
    margin-bottom: 10px;
}

form.cmxform fieldset {
    margin:10px 0;
    padding:0;
    border:none;
}

form.cmxform legend {
    font-size: 1.2em;
}

form.cmxform label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

form.cmxform fieldset p {
    list-style: none;
    margin: 0;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
    padding: 2px 10px;
}

form.cmxform fieldset fieldset legend {
    padding: 0 0 5px;
    font-weight: normal;
}

form.cmxform fieldset fieldset label {
    display: block;
    width: auto;
}

form.cmxform label {
    width: 120px;
}

form.cmxform label em {
    color: red;
}

form.cmxform label.error {
    width: 200px;
    font-size: 0.8em;
    margin-left: 10px;
    color: red;
}

form.cmxform input.save {
    margin-left: 124px;
}

form.cmxform .status {
    display: none;
    margin-left: 130px;
    padding: 8px 0 4px 30px;
    background: url( ../images/loading.gif ) 0 7px no-repeat;
}

form.cmxform .ajaxerror {
    color: red;
    margin-left: 130px;
    padding: 8px 0 4px 30px;
    background: url( ../images/error.png ) 0 7px no-repeat;
}

form.cmxform .image_button {
    vertical-align: middle;
}

form.cmxform input[type="text"] {
    width: 300px;
    border: 1px solid #666666;
}

form.cmxform input[type="password"] {
    width: 300px;
    border: 1px solid #666666;
}

form.cmxform textarea {
    width: 500px;
    border: 1px solid #666666;
}

form.cmxform input[type="submit"] {
    background: #cccccc;
    border: 1px solid #666666;
    cursor: pointer;
    font-size: 1em;
    width: auto;
}

form.cmxform input:focus {
    border: 1px dotted #666666;
}

form.cmxform input.error {
    border: 1px dotted red;
}


