@import "form.css";
@import "datatables.css";

body {
    background: #d9dfe3 url( ../images/background.png ) repeat-x left top;
    font-family: "Arial", sans-serif;
    font-size: 100%;
    line-height: 1.125em;
    margin: 0;
    padding: 0;
    color: #878787;
}

h1 {
    font-family: "Helvetica Neue 35 Thin", "Helvetica Neue UltraLight", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color: #7d7d7d;
}

h2 {
    font-size: 1.4em;
    color: #5d6268;
}

h3 {
    font-size: 1.2em;
    color: #005a8c;
}

h4 {
    font-size: 1.2em;
    color: #5d6268;
}

a[href] {
    text-decoration: none;
    color: #005a8c;
}

a[href]:hover {
    text-decoration: underline;
}

#page {
    background: url( ../images/page.png ) no-repeat left top;
    font-size: 0.875em;
    margin: 0 auto;
    padding: 75px 133px 0 133px;
    width: 900px;
}

#options {
    text-transform: uppercase;
    font-size: 0.8em;
    border: 1px dotted #878787;
    top: -60px;
    right: 10px;
    padding: 5px;
    position: relative;
    float: right;
    clear:both;
}

#options ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

#options li {
    border-right: 1px dotted #878787;
    display: inline;
    padding: 0 5px 0 5px;
}

#options li:last-child {
    border-right: none;
}

#menu {
    background: url( ../images/background_menu.png ) repeat-x left bottom;
    font-family: "Arial Regular", "Arial", sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    height: 46px;
    width:900px;
}

#menu ul {
    margin: 0;
    padding: 24px 0 0 5px;
    list-style-type: none;
    list-style-image: none;
}

#menu li {
    border-right: 1px solid white;
    display: inline;
    padding: 0 5px 0 5px;
}

#menu li:last-child {
    border-right: none;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
}

#menu a:hover {
    text-decoration: underline;
}

#submenu {
    font-family: "Arial Regular", "Arial", sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    width:900px;
}

#submenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

#submenu li {
    border-right: 1px solid #005a8c;
    display: inline;
    padding: 0 5px 0 5px;
}

#submenu li:last-child {
    border-right: none;
}

#submenu a {
    text-decoration: none;
    color: #005a8c;
}

#submenu a:hover {
    text-decoration: underline;
}

#content {
    background: #ffffff;
    margin: 0;
    padding: 10px;
}

#footer {
    background: url( ../images/background_menu.png ) repeat-x left bottom;
    height: 46px;
    text-align: center;
    clear: both;
}

#footer p {
    color: #ffffff;
    font-size: 0.8em;
    margin: 0;
    padding: 24px 0 0 0;
}

#login-error {
    color: #990000;
}

.tableRow0 {
    background: #f9f9f9;
}

.tableRow1 {
    background: #f1f1f1;
}

.help {
    display:none;
    margin: 10px 10px 10px 124px;
    padding: 4px;
    background: #f1f1f1;
}

.changed_form {
    background: #fff1f1;
}

.changed {
    background: #ffcccc;
}

.dynamic_dropdown {
    margin: 1px;
    border:1px solid blue;
}
